:root {
    --base-font-family: 'Inter', var(--sys-font-family), sans-serif;
    --menu-icon-separation: 12px;
    --heading-border-size: 0px;
    --blockquote-border-size: 0px;
    --code-font-family: "Comic Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    --accent-color: #841212;
    --accent-color-darker: #6a0e0e;
    --body-background: #fff9f6;
}

:root[data-scheme="dark"] {
    --accent-color: #ee5656;
    --accent-color-darker: #cc4444;
    --body-background: #000000;
}

.site-name,
.section-title,
.article-title,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
}

.shares-list {
    --card-padding: 2rem;
}

.shares-list .article-details {
    gap: var(--spacing-sm);
}

.shares-list .article-meta {
    gap: var(--spacing-sm);
}

.shares-list .article-tags a {
    display: inline-block;
    padding: 0.3rem 0.8rem;
}

.shares-list .article-subtitle {
    font-size: 1.2rem;
    color: var(--card-text-color-tertiary);
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0;
}
