<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} — {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ end }}{{ end }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.Title }} Blog" href="{{ "blog/index.xml" | relLangURL }}">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <a href="/">Geoffrey Coulaud</a>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
