@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// --- Generic styles ---

body
	font-family: "Quicksand", sans-serif
	overflow-y: hidden
	height: 100vh
	margin: 0px
	width: auto

h1, h2, h3
	font-family: "Abril Fatface", serif
	color: #39529e

// --- Horizontal scrolling ---

.hz-scroll
	white-space: nowrap
	
	&>*
		vertical-align: top
		display: inline-block
		white-space: normal

// --- Shared styling --- 

#wrapper
	height: 100%

	&>section
		height: 100%
		box-sizing: border-box
		flex-direction: column
		display: inline-flex
		padding: 2em

		.floating-title
			align-self: flex-start
			position: sticky
			left: 2em
			top: 2em


// --- Landing section ---

#landing 
	width: 100vh
	background-color: #39529e
	color: white
	justify-content: center
	align-items: center
	position: relative
	text-align: center
	padding: 0px

	h1, h2
		font-family: "Montserrat", sans-serif;
		margin: 0px
		color: white

	h1
		font-size: 4em
		margin-bottom: 0.25em

	h2
		font-size: 3em
		font-weight: 400
		margin-bottom: 3em

	img
		width: 15em

	nav
		position: absolute
		bottom: 1.5em
		left: 50%
		transform: translateX(-50%)

		a
			display: inline-block
			color: white
			margin: 0px 0.5em

// --- Info section ---

#informations
	padding 2em

	&>div
		align-items: flex-start
		margin: auto 0px
		display: flex

		hr
			border: 0px solid black
			border-right-width: 1px	
			align-self: center
			margin: 0px 2em
			height: 5em
			width: 0px

		article
			max-width: 20vw

			h3
				font-size: 2em
				margin-bottom: 0.25em

// --- Realisations section ---

#realisations
	margin: 0px 10em
	
	&>div
		flex-grow: 1
		display: flex
		justify-content: center
		align-items: center

		&>*
			display: flex
			justify-content: center
			align-items: center
			height: 30vh
			width: 30vh
			box-sizing: border-box
			padding: 2em
			border-radius: 2em
			background-color: white
			box-shadow: 0px 0px 2em rgba(0,0,0,0.2)
			margin: 2em
			position: relative

			/*
			&:nth-child(even)
				transform: translateY(2em)
			*/

			img
				width: 100%

// --- Contact section ---

#contact
	padding: 2em
	
	&>div
		padding-right: 12em
		flex-grow: 1
		display: flex
		flex-direction: column
		justify-content: center
		font-size: 3em

	h3 
		margin-bottom: 0.25em
	a
		color: inherit