<style>
:root {
  --color-bg: oklab(0.93 0.005 0.014);
  --color-container-bg: oklab(0.99 0.001 0.011);
}
body {
  background-color: var(--color-bg);
  color: #232323;
}
.sidebar {
  background-color: #232323;
}
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--color-container-bg);
  box-shadow: 0 0 8px rgba(0,0,0,.04);
  max-width: 52rem;
  margin: 0 auto;
  gap: 2rem;
}
.wrap .masthead,
.wrap main.content,
.wrap footer {
  margin-bottom: 0;
}
.masthead {
  border-bottom: none;
  padding: 2rem;
}
main.content {
  flex: 1;
  padding: 0 3em;
}
.wrap .container {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
.e-content {
  margin: 2rem 0;
}
.posts-list {
  padding-left: 0;
}
.back-nav {
  padding: 0 3rem;
}
article > header h1 {
  margin-bottom: 1rem;
}
.posts-list li {
  margin-bottom: 2rem;
  list-style: none;
}
.posts-list li time {
  font-size: 0.85rem;
  color: #676767;
}
.posts-list .summary {
  margin: 0.25rem 0 0.5rem;
  font-size: 0.925rem;
  color: #666;
}
.langs {
  margin: 0.5rem 0 0;
  font-size: 0.85rem;
  color: #999;
}
.langs a {
  color: inherit;
  text-decoration: none;
}
.langs a:hover {
  text-decoration: underline;
}
.back-nav a {
  color: #ac4142;
}

</style>
