{{ define "body-class" }}shares-list{{ end }}

{{ define "main" }}
    <section class="article-list">
        {{ range .Pages.ByDate.Reverse }}
        <article>
            {{- $image := partial "helper/image" (dict "Image" .Params.image "Resources" .Resources "Context" .) -}}
            {{ if $image }}
                <a href="{{ .Params.link }}" target="_blank" rel="noopener">
                    <div class="article-image">
                        <img src="{{ $image.Permalink }}" loading="lazy" alt="{{ .Title }}">
                    </div>
                </a>
            {{ end }}

            <div class="article-details">
                <div class="article-title-wrapper">
                    <a href="{{ .Params.link }}" target="_blank" rel="noopener">
                        <h2 class="article-title">
                            {{- .Title -}}
                            {{- partial "helper/icon" "link" -}}
                        </h2>
                        <div class="article-subtitle">{{ .Params.link }}</div>
                    </a>
                </div>

                <footer class="article-meta">
                    <div class="inline-meta">
                        {{ partial "helper/icon" "date" }}
                        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{- .Date | time.Format .Site.Params.dateFormat.published -}}
                        </time>

                        {{- if .Params.tags }}
                            <span class="article-tags">
                                {{ range .Params.tags }}
                                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" class="link">{{ . }}</a>
                                {{ end }}
                            </span>
                        {{- end }}
                    </div>

                    {{- if .RawContent -}}
                    <div class="article-preview">{{ .RawContent | markdownify }}</div>
                    {{- end -}}
                </footer>
            </div>
        </article>
        {{ end }}
    </section>

    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
